.input {
  width: 3em;
  border-radius: calc(var(--brr) * 1.2);
  background-color: var(--lbg);
  padding: 10px;
}

.header {
  display: none;
}

.line {
  --lightness: 60%;

  flex-grow: 1;
  border-radius: calc(var(--brr) * 1.2);
  background-image: linear-gradient(in hsl longer hue 90deg, hsl(0 100% var(--lightness)) 0 0);

  animation: lighter 5s forwards;

  cursor: pointer;

  :global(.dark) & {
    --lightness: 35%;
  }
}

.linePadding {
  position: relative;
  height: 100%;
  margin: 0 calc(var(--gap) * 1.5);
}

.selectorPosition {
  position: absolute;
  width: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
}

.selectorWrapper {
  min-width: auto;
  height: calc(100% + 8px);
  border-radius: var(--brr);
  background-color: var(--lbg);
  padding: 4px;
}

.selector {
  width: 6px;
  height: 100%;
  border-radius: var(--brr);
  background-color: var(--ca);
}