@use '../../styles/mixins';

.Loader {
  @include mixins.flex-center;

  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;
}

.image {
  width: 30px;
  aspect-ratio: 1;
  animation: rotate 1s linear infinite;

  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }
}

.visible {
  opacity: 1;
}