.Loader {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
  transition: opacity .3s;

  &[data-mounted] {
    animation: mounted .2s forwards;

    @keyframes mounted {
      from {
        transform: scale(.5);
        opacity: 0;
      }
    }
  }

  &[data-unmounted] {
    animation: unmounted .2s forwards;

    @keyframes unmounted {
      to {
        transform: scale(.5);
        opacity: 0;
      }
    }
  }
}

.icon {
  width: 24px;
  height: 24px;

  animation: rotate 1s infinite linear;

  @keyframes rotate {
    from { transform: rotate(0) }
    to { transform: rotate(360deg) }
  }
}