@use '../../../../styles/mixins';

.Header {
  min-height: 50px;
  border-radius: calc(var(--brr) * 2);
  background-color: var(--bg);
  padding: var(--gap);
  display: flex;
  justify-content: center;
  align-items: center;

  @include mixins.width(1100px) {
    box-shadow: var(--bs);
    justify-content: space-between;

    .title {
      padding-left: var(--gap);
    }

    .button {
      display: block;
    }
  }
}

.title {
  text-align: center;
}

.button {
  display: none;
}