@use '../../../styles/mixins';

.Menu {
  display: contents;

  pointer-events: none;

  &.index {
    z-index: 1;
  }

  @include mixins.width(1100px) {
    position: fixed;
    inset: 0;
    padding: calc(var(--gap) / 2);
    display: initial;

    transition: background-color .3s;

    .inner {
      transform: translateX(calc(-100% - var(--gap)));
      transition: transform .3s;
    }

    &:not([inert]) {
      background-color: color-mix(in srgb, black, transparent);

      pointer-events: all;

      .inner {
        transform: translateX(0);
      }
    }
  }
}

.inner {
  width: 80vw;
  max-width: 300px;
  height: 100%;
  gap: var(--gap);
  display: flex;
  flex-direction: column;

  pointer-events: auto;
}