@use '../../../styles/mixins';

.MenuLink {
  margin-inline: -15px;
  padding: 15px;
  transition: background-color .2s, color .2s;

  @include mixins.hover {
    background-color: color-mix(in srgb, var(--c-accent), white);
  }

  &:focus-visible {
    outline: 2px solid var(--c-accent);
    outline-offset: -5px;
  }

  &.selected {
    background-color: var(--c-accent);
    color: white;

    &:focus-visible {
      outline: 2px solid white;
    }
  }
}