.ThemeColorButton {
  .inner {
    display: flex;
    align-items: center;
    gap: 10px;

    .color {
      margin: -5px 0 -5px -5px;
      width: 30px;
      height: 30px;
      border: 1px solid white;

      &.beige {
        background-color: var(--c-beige);
      }
      &.orange {
        background-color: var(--c-orange);
      }
      &.red {
        background-color: var(--c-red);
      }
      &.blue {
        background-color: var(--c-blue);
      }
      &.purple {
        background-color: var(--c-purple);
      }
      &.green {
        background-color: var(--c-green);
      }
      &.cyan {
        background-color: var(--c-cyan);
      }
      &.gray {
        background-color: var(--c-gray);
      }
      &.black {
        background-color: var(--c-black);
      }
    }

    .name {
      flex-grow: 1;
    }
  }
}