.ThemeColorButton {
  .themeColorInner {
    display: flex;
    align-items: center;
    gap: 10px;

    .themeColor {
      width: 25px;
      height: 25px;
      border: 1px solid white;

      &.orange {
        background-color: var(--c-orange);
      }
      &.red {
        background-color: var(--c-red);
      }
      &.blue {
        background-color: var(--c-blue);
      }
      &.purple {
        background-color: var(--c-purple);
      }
      &.green {
        background-color: var(--c-green);
      }
      &.cyan {
        background-color: var(--c-cyan);
      }
      &.black {
        background-color: var(--c-black);
      }
    }
  }
}