@use '../../../../../styles/mixins';

.Link {
  border-radius: calc(var(--brr) * 1.2);
  padding: calc(var(--gap) * 2);
  gap: calc(var(--gap) * 2);
  display: flex;
  align-items: center;

  transition: background-color .3s, color .3s, transform .4s;

  &:active {
    transform: translateY(3px);
    transition: background-color .3s, color .3s, transform .1s;
  }

  &.active {
    background-color: var(--ca);
  }

  @include mixins.hover {
    background-color: color-mix(in srgb, var(--ca) 80%, white);

    :global(.dark) & {
      background-color: color-mix(in srgb, var(--ca) 80%, black);
    }
  }

  &:focus-visible {
    background-color: color-mix(in srgb, var(--ca) 60%, white);

    :global(.dark) & {
      background-color: color-mix(in srgb, var(--ca) 60%, black);
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
}