@use '../../../../styles/mixins';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.title {
  font-size: 1.5rem;
}

.button {
  display: none;

  @include mixins.width(1200px) {
    display: block;
  }
}