@mixin fs-clamp($minValue: 1, $maxValue: 1, $minScreen: 360, $maxScreen: 1600, $unit: rem) {
  $ratio: ($maxValue - $minValue) / ($maxScreen - $minScreen);
  $value: $minValue - $ratio * $minScreen;

  font-size: clamp(
    #{$minValue}#{$unit},
    calc(#{$value}#{$unit} + #{$ratio * 100vw} * var(--fs-base)),
    #{$maxValue}#{$unit}
  );
}

@mixin width($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin width($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin outline {
  outline: 1px solid gray;
  outline-offset: -1px;
}

@mixin pseudo($content: '') {
  display: block;
  content: '#{unquote($content)}';
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}