// Переменные

:root {
  --c-orange: #f1633d;
  --c-red: #b31a1a;
  --c-blue: #1b61bf;
  --c-purple: #653aa1;
  --c-green: #317523;
  --c-cyan: #00a19a;
  --c-black: #000000;

  --c-accent: var(--c-orange);

  --fs-base: 16;
  --fc-base: black;
  --ff-base: 'Exo 2';
  --fw-base: 400;
  --fw-bold: 700;
}