@use '../../../styles/mixins';

.Modal {
  --blackTransparentColor: color-mix(in srgb, black, transparent 60%);

  --width: max-content;
  --height: max-content;

  z-index: 2;
  position: fixed;
  inset: 0;
  background-color: var(--blackTransparentColor);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity .3s;

  &[inert] {
    opacity: 0;
    pointer-events: none;

    .inner {
      scale: .7;
    }
  }
}

.inner {
  scale: 1;
  width: var(--width);
  height: var(--height);
  max-width: min(var(--maxWidth, calc(100vw - 30px)), calc(100vw - 30px));
  max-height: min(var(--maxHeight, calc(100svh - 30px)), calc(100svh - 30px));
  box-shadow: 0 0 10px var(--blackTransparentColor);
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  transition: scale .3s;
}

.keyWrapper {
  display: contents;
}

.header {
  font-size: 1.5rem;
}

.scroller {
  overflow: auto;
  margin-inline: -15px;
  padding-inline: 15px;
}

.actions {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}