@use '../../../../styles/mixins';

.Header {
  margin-bottom: var(--gap);

  @include mixins.width(1100px) {
    .button {
      display: block;
    }
  }
}

.title:not(._) {
  font-size: 2rem;
}

.button {
  display: none;
}