@use '../../../../styles/mixins';

.textarea {
  width: 100%;
  border-radius: calc(var(--brr) * 1.2);
  background-color: var(--lbg);
  padding: 10px;
}

.scroller {
  max-height: 200px;
}

.scrollerScroller {
  border-radius: calc(var(--brr) * 1.2);
}