@use '../../../styles/mixins';

.inputs {
  margin-block: 5px;
  display: flex;
  gap: 6px;

  &:has(input:focus) {
    outline: 2px solid var(--c-accent);
    outline-offset: 2px;
  }

  .input {
    min-width: 0;
    margin: 0;

    &:first-child {
      text-align: right;
      flex-grow: 1;
    }

    &:last-child {
      --precision: 2;
      width: calc(20px + var(--precision) * 10px);
    }
  }
}